@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.container > .imageContent {
  width: 50%;
}
.container > .form {
  width: 50%;
  padding-top: 85px;
}

.h1 {
  left: 770px;
  top: 209px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #a03c78;
}

.p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #9795b5;
}
